# Fichiers sensibles
.env
secrets.env

# Données générées
/data/*
!data/.gitkeep
!data/lettres/
!data/rapports/

# Fichiers Python inutiles
__pycache__/
*.py[cod]
*.so

# Dépendances / build
*.egg-info/
dist/
build/

# Tests
.coverage
.pytest_cache/

# Environnement virtuel
.venv/
env/
venv/

# Fichiers système ou d'éditeur
.DS_Store
.vscode/
.idea/
*.log
